{% extends 'base.html' %}

{% block content %}


    
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Shopping Cart</h1>
                    <p class="lead fw-normal text-white-50 mb-0">View Your Cart</p>
                </div>
            </div>
        </header>
        <br><br/>
        <div class="container">
        {% if cart_products %}
            {% for product in cart_products %}
                <div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ product.description|safe }}</p>
        <br></br>
        <br></br>
       
        <center>

        {% if product.is_sale %}
                            <!-- Sale Badge-->
                             <div class="badge bg-danger text-white position-absolute" style="top: 0.5rem; right: 0.5rem;">Sale</div>

                          
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    
                                    <!-- Product price-->  
                                    <strike>${{ product.price }}</strike>
                                    &nbsp;
                                    <span class="text-danger">${{ product.sale_price }}</span>
                                    </center>
                                    
                                    
                                    
 
        {% else %}
            ${{ product.price }}
            
                                    

        {% endif %}
        

        <center>
<br></br>        <a href="{% url 'home' %}" class="btn btn-secondary" id="add-cart">Home</a>

                <button type="button" data-index="{{product.id}}" class="btn btn-secondary delete-product">Remove</button>

                <a href="{% url 'create_checkout_session' %}" class="btn btn-primary">Checkout</a>

                 
        </center>
        


   
      </div>
    </div>
  </div>
</div>
            {% endfor %}
            <h3>Total: ${{ totals }}</h3>
            {% else %}
            Theres Nothing In Your Cart...
            {% endif %}
            <br><br/><br><br/><br><br/> 
        </div>
        <script>
    document.addEventListener('click', function (event) {
        if (event.target.classList.contains('delete-product')) {
            let productId = event.target.getAttribute('data-index');

            fetch("{% url 'cart_delete' %}", {
                method: "POST",
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}",
                    "Content-Type": "application/x-www-form-urlencoded"
                },
                body: new URLSearchParams({
                    product_id: productId
                })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    location.reload();
                } else {
                    alert(data.error || "Error deleting product.");
                }
            });
        }
    });
    </script>

       
{% endblock %}