{% extends 'base.html' %}

{% block content %}
<!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Payment Successfull</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Thank You For Your Purchase</p>
                </div>
            </div>
        </header>
        <br><br/>
        <div class="container my-5">
    <h2 class="mb-4">Payment Successful!</h2>
    <p>Thank you for your purchase. Here are the details of your order:</p>

    {% if orders %}
    {% for order in orders %}
        <div class="card mb-3" style="max-width: 500px;">
            <div class="row g-0 align-items-center">
                <div class="col-md-4">
                    <img src="{{ order.product.image.url }}" class="img-fluid rounded-start" alt="{{ order.product.name }}">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ order.product.name }}</h5>
                        <p class="card-text">
                            Quantity: {{ order.quantity }}<br>
                            {% if order.product.is_sale %}
                            <div class="badge bg-danger text-white position-absolute" style="top: 0.5rem; right: 0.5rem;">Sale</div>
                                Price: <strike>${{ order.product.price }}</strike> <span class="text-danger">${{ order.product.sale_price }}</span><br>
                            {% else %}
                                Price: ${{ order.product.price }}<br>
                            {% endif %}
                        </p>
                        
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% else %}
    <p>No orders found.</p>
{% endif %}


    
        </div>

  <div class="text-center">
  <a href="{% url 'home' %}" class="btn btn-secondary" id="add-cart">Home</a>
</div>

  <br>
{% endblock %}
