{% extends "base.html" %}

{% block content %}

<header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Payment Cancelled</h1>
                    
                </div>
            </div>
        </header>

<div class="alert alert-warning" role="alert">
    Your payment was not completed. You can try again or continue shopping.
</div>
<center>
<a href="{% url 'cart_summary' %}" class="btn btn-primary">Return to Cart</a>
<a href="{% url 'home' %}" class="btn btn-secondary">Continue Shopping</a>
</center>
<br>
<br>

{% endblock %}