{% extends 'base.html' %}

{% block content %}

<!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About Us</h1>
                    <p class="lead fw-normal text-white-50 mb-0">One Tick at a Time</p>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="row">
                <center>
                    <div class="col-8">
                        <br><br/>
<p align="left">                        
                        Where Time Meets Taste.
Welcome to Timely, your destination for premium watches that embody style, precision, and timeless craftsmanship. We’re more than just a watch store—we're curators of moments, milestones, and masterpieces.
From heritage brands like Tissot, known for Swiss innovation and understated luxury, to elite horology icons such as Audemars Piguet, we bring together a diverse collection to suit every wrist and lifestyle. Whether you're hunting for your first timepiece or expanding a seasoned collection, we’re here to help you make every tick count.
<br><br/>
🛍️ Why Shop With Us?<br><br/>
- Authenticity Guaranteed: 100% genuine watches from trusted global brands ✅<br><br/>
- Curated Selection: Handpicked models for every budget and taste ✅<br><br/>
- Expert Guidance: Our team is passionate about watches and ready to assist ✅<br><br/>
- Secure Shopping: Fast shipping and safe checkout, always ✅<br><br/>
At Timely, we believe the perfect watch isn’t just worn—it’s experienced. Join us in celebrating the art of timekeeping.
<br><br/>
</p>

                    </div>
                </center>
            </div>
        </div>

{% endblock %}